.search_bar {
    margin-top: 50px;
    margin-bottom: 30px;
}

input:hover {
    background-color: lightgray;
}

li:hover {
    background-color: #E0E0E0;
}

.title_list_item {
    padding-top: 40px;
    text-align: center;
}

#scrollItem {
    /*  height: 550;
    width: 350;
    overflow: "auto";
    scrollbar-base-color: "gold";
    font-Family: "sans-serif";
    padding: 10,*/
}

/*
body {
    background-color: lightgray;
}*/